# Data Types and Structures

1. What are data structures, and why are they important?
-  Data structures in Python are specialized formats or containers used to store and organize data efficiently. They are important because they provide various ways to store, access, and manipulate data and speed up operations like search, insert, and delete according to specific needs.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types can be changed after they are created, while immutable data types cannot be changed — any modification creates a new object. Example follows-

In [ ]:
# mutable data - list
my_list = [1, 2, 3]
my_list[0] = 4
print(my_list) #Output = [4,2,3]

#immutable data - tuples
my_tuple = (1, 2, 3)
my_tuple[0] = 10 #Output = 'tuple' object does not support item assignment

[4, 2, 3]

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
- Lists are mutable, can be changed after creation, are better for dynamic data. Wheras, Tuples are immutable, cannot be changed after creation and are better for fixed data.

4. Describe how dictionaries store data.
- Dictionaries are a data structure in Python that store data as key-value pairs.Keys are unique and immutable, while values can be of any data type.
Dictionaries are created using {} and key-value pairs separated by colons. Elements are accessed by referencing their keys using square brackets [].

5. Why might you use a set instead of a list in Python?
- When we need to store unique elements, do not require ordering, and want faster lookups than a list, we can use a Set.

6. What is a string in Python, and how is it different from a list?
- In Python, a string is an immutable sequence of characters used to store text, while a list is a mutable sequence that can hold elements of any type.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being immutable — once created, their elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key value pairs and uses a hash function to map each key to a specific memory location for fast access. In Python, a dictionary is an implementation of a hash table — it hashes each key to determine where its value is stored.

9. Can lists contain different data types in Python?
- Yes. In Python, lists can contain elements of different data types, including numbers, strings, booleans, objects.

10.  Explain why strings are immutable in Python?
- Strings are immutable in Python because their data is stored in a fixed memory location, and any change creates a new string object instead of modifying the original.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists because it allows quicka and direct access by key instead of searching by index and store data as key value pairs instead of by position.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple instead of a list when you have data that should never change, like storing the latitude and longitude of a location or the days of the week or storing peoples' date of birth.

13. How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values. If you add a value that is already in the set, it’s ignored, so each element is always unique.

14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, the "in" keyword checks if a specific value exists among the elements. Whereas, in dictionaries, it checks if a specific key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot modify the elements of a tuple because tuples are immutable, meaning their data is stored in a fixed memory structure — once created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where each value can itself be another dictionary.

In [ ]:
# Storing structured data, like a company’s departments and their employees
company = {
    "HR": {"Manager": "Alice", "Assistant": "Bob"},
    "IT": {"Manager": "Charlie", "Developer": "David"}}
print(company["IT"]["Developer"])

David

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a Python dictionary has an average time complexity of O(1) because it uses a hash table to directly find the value from the key’s hash. However, in the worst case (rare, due to hash collisions), access time can degrade to O(n).

18.  In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when, we need ordered data and we need to store values without unique keys, we need to access items by position (index) instead of by a key, dataset is small and doesn’t need fast key-based lookups.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because their items are stored based on hash values of keys, not their insertion order. This means we can’t reliably retrieve items by position — we must use their keys to get the values.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- For Lists retrieval of data is done by numeric index based on position, retrieval requires knowing the element’s position, and searching for a specific value may take longer. Whereas, dictionaries retrieve data by unique keys.This allows much faster lookups without knowing the element’s position.

# Practical_Questions

# 1. Write a code to create a string with your name and print it.

In [ ]:
name = "Deep Basu"
print(name)

Deep Basu

# 2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
replaced_text = text.replace("apple", "orange")
print(replaced_text)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

# 9 . Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
numbers = tuple([100, 200, 300])
print(numbers)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
elements = ('red', 'green', 'blue', 'yellow')
second_last_element = elements[-2]
print(second_last_element)

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
elements = ('dog', 'cat', 'rabbit')
index_cat = elements.index('cat')
print(index_cat)

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'pomegranate', 'kiwi')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is in the tuple

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

 # 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
data = {"name": "Deep",
    "age": 27,
    "city": "Kolkata"}
print(data)

{'name': 'Deep', 'age': 27, 'city': 'Kolkata'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [2]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [4]:
person = {'name': 'Alice', 'age': 30}
value_name = person['name']
print(value_name)

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [5]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [6]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("City exists in the dictionary")
else:
    print("City does not exist in the dictionary")

City exists in the dictionary

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [9]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [10]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[15, 36, 37, 56, 71]

# 28. Write a code to create a list with strings and print the element at the third index.

In [11]:
brands = ["Apple", "Samsung", "OnePlus", "Xiaomi", "Oppo", "Vivo", "Realme", "Nokia"]
print(brands[3])

Xiaomi

# 29. Write a code to combine two dictionaries into one and print the result.

In [16]:
data1 = {
    "name": "Alice",
    "department": "HR",
    "location": "New York"}

data2 = {
    "employee_id": "E2101",
    "salary": 75000,
    "joining_year": 2025}

combined_data = {**data1, **data2}
print(combined_data)

{'name': 'Alice', 'department': 'HR', 'location': 'New York', 'employee_id': 'E2101', 'salary': 75000, 'joining_year': 2025}

# 30. Write a code to convert a list of strings into a set.

In [17]:
cars = ["Toyota", "BMW", "Audi", "Toyota", "Honda"]
cars_set = set(cars)
print(cars_set)

{'Toyota', 'Audi', 'Honda', 'BMW'}